%section
  %h3 New category
  %form{method: 'post', action: '/categories/create'}
    %div
      %label{for: 'name'} Name
      %input{type: 'textfield', name: 'name'}
    %input{type: 'submit', value: 'Create'}

- unless @categories.empty?
  %section
    %h3 Edit categories
    - @categories.each do |c|
      %h4= c.name
      %form{method: 'post', action: "/categories/update/#{c.id}"}
        %input{type: 'hidden', name: '_method', value: 'put'}
        %div
          %label{for: 'category[name]'} Name
          %input{type: 'textfield', name: 'name', value: "#{c.name}"}
        %input{type: 'submit', value: 'Update'}
      %form{method: 'post', action: "/categories/destroy/#{c.id}"}
        %input{type: 'hidden', name: '_method', value: 'delete'}
        %input{type: 'submit', value: 'Delete'}
